<div class="nested-fields">
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :color_id, '色' %>
      <%= f.collection_select :color_id, Color.all, :id, :name, { prompt: '選択' }, { class: 'form-control' } %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :size_id, 'サイズ' %>
      <%= f.collection_select :size_id, Size.all, :id, :name, { prompt: '選択' }, { class: 'form-control' } %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :stock_quantity, '在庫数' %>
      <%= f.number_field :stock_quantity, class: 'form-control' %>
    </div>
    <div class="form-group col-md-1 align-self-end">
      <%# cocoon gem によってフォームを削除するためのリンクが生成されます %>
      <%#= link_to_remove_association "削除", f, class: "btn btn-danger btn-sm" %>
    </div>
  </div>
</div>